.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 0.9rem;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: regular;
        text-transform: uppercase;
        text-decoration: none;
        color: #cc0000 !important;
        &:hover, &:active, &:focus {
      background: #000000 !important;
      color: #ffffff;
      text-decoration: none;
    }
      }
      &.active {
      > a {
        background: #000000 !important;
        color: #ffffff !important;
        text-decoration: none;

        &:hover {
          background: #000000 !important;
          color: #ffffff !important;
        }
      }
    }
    }
  }
}
